*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    transition: 0.5s;
    text-transform: capitalize;
   
    
}
html{
    font-size: 65%;
    scroll-behavior: smooth;
}
body{
    background-color: #000;
}
.header{
    padding: 1rem 7%;
    position: fixed;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background: #0483f3;
}
.logo img{
    max-height: 25%;
    max-width: 25%;
}
.logo a{
    font-size: 20px;
    color: rgb(250, 250, 243);
}
.logo a:hover{
    color: #2c2b2b;
}
.navbar a{
    color: white;
    margin: 0.5rem;
    padding: 0.5rem;
    font-size: 1.5rem;
}
.navbar a:hover{
    color: var(--btn-color);
}

.icons div{
    color: white;
    font-size: 1.5rem;
    margin-right: 10px;
    display: none;
}
.icons div:hover{
    cursor: pointer;
}
 .contact{
    color: white;
    padding: 0.6rem 1.5rem;
    font-size: 8px;
    transition: 0.5s;
    display: inline-table;
}

.icons a{
    color: white;
    padding: 0.6rem 1.5rem;
    border: 1px solid rgb(10, 7, 0);
    border-radius: 10px;
    font-size: 18px;
    transition: 0.5s;
    display: inline-block;
}
.Signin:hover{
    transform: scale(1.1);
    background: chartreuse;
    border: 1px solid white;
}

.contact{
    color: rgb(166, 5, 5);
    padding: 0.6rem 1.5rem;
    font-size: 10px;
    transition: 0.5s;
    display: inline-flex;
    gap: 1rem;
}

.navbar.active{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.home{
    padding: 1rem 7%;
    min-height: 100vh;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.main-home{
    
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    padding-top: 150px;
    padding-left: 4rem;
    padding-right: 4rem;
}
.home-inner-content{
    flex: 1 1 45rem;
}
.background-clip{
    position: absolute;
    right: 0;
    bottom: 0;
    object-fit: cover;
    z-index: -1;
    width: 100%;
    height: 100%;
    
  }

@keyframes mymove {
    0%   {top: 0px;}
    50%   {top: 15px;}
    75%   {top: 10px;}
    100%   {top: 0px;}
  }
.home-text-content{
    padding: 0 8rem;
    text-align: center;
}
.home-text-content h1{
    font-size: 45px;
    color: #0483f3;
}
.home-text-content p{
    color: rgb(235, 238, 229);
    font-size: 1.5rem;
    margin-top: 10px;
    margin-bottom: 15px;
    line-height: 25px;
}
.home-text-content a{
    color: rgb(252, 248, 248);
    padding: 0.6rem 1.5rem;
    border: 1px solid #0483f3;
    border-radius: 10px;
    font-size: 18px;
    transition: 0.5s;
    display: inline-block;
    background-color: #05f42d;
}
.home-text-content a:hover{
    transform: scale(1.1);
    background: var(--btn-color);
    border: 1px solid white;
}

.about{
    padding: 2rem 7%;
    background: var(--about-sec);
    background-color: #1d1d23;
    margin-top: 10px;
}
.main-about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    
    
}
.about-content{
    flex: 1 1 45rem;
}
.about-inner-content{
    width: 100%;
    margin: 0 auto;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.about-content .about-inner-content img{
    width: 80%;
    margin-right: 100px;
}
.about-text-content{
    padding: 0 4rem;
}
.about-text-content h1{
    color: #0483f3;
    font-size: 40px;
    margin-bottom: 15px;
}
.about-text-content p{
    color: white;
    font-size: 1.5rem;
    line-height: 35px;
}
.about-text-content img{
    max-height: 30%;
    max-width: 30%;
    
}
.about-text-content img:hover{
    transform: translateY(-10px);
    transition: 0.2s all linear;
}



.main-about2{
    display: flex;
    gap: 2rem;
}
.main-about2 .who-text{
    border: 1px solid #0483f3;
}
.main-about2 h2{
    color: aqua;
    font-size: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: center;
}
.main-about2 p{
    color: aliceblue;
    font-size: 1.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
	text-align: center;
}
.Service{
    color: #000;
}
.Service h2{
    font-size: 40px;
    margin-left: 2%;
    margin-top: 2rem;
    color: #0483f3;
}
.main-service{
    margin-left: 5%;
    margin-right: 10%;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    gap: 2rem;
}
.main-service .service1{
    border: 1px solid #0483f3;
	border-radius: 20px;
    margin-bottom: 15px;
	
}
.main-service .service1 h3{
    font-size: 20px; 
    color: #f9f4f4;
    text-align: center;
}
.main-service .service1 span{
    color: aliceblue;
	font-size: 1.5rem; 
	text-align: center;
	color: #F3F7EC;
}
.Contact{
    color: #000;
}
.contact h4{
    font-size: 40px;
    margin-left: 2%;
    margin-top: 2rem;
    color: #0483f3; 
}
.main-contact{
    margin-left: 5%;
    margin-right: 10%;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    gap: 2rem;
}

.contactus{
  box-sizing: border-box;
  border: 1px solid #EEEEEE;
  border-radius: 20px;
  position: relative;
  width: 32.3%;
  top: 50px;
  margin: 0.5%;
  height: 385px;
  background-color:#1d1d23;
  z-index: 2;
  float: left;
  padding: 2%;
  display: flex;
  flex-wrap: wrap;
  align-content:center;
  justify-content:center;
  color:#f9f4f4;
}


.location{
  box-sizing: border-box;
  border: 1px solid #EEEEEE;
  border-radius: 20px;
  position: relative;
  width: 32.3%;
  top: 50px;
  margin: 0.5%;
  height: 385px;
  background-color: #1d1d23;
  color: black;
  z-index: 3;
  float: left ;
  padding: 2%;
  color:#f9f4f4;
}

.inquiry{
  box-sizing: border-box;
  border: 1px solid #EEEEEE;
  border-radius: 20px;
  position: relative;
  width: 32.3%;
  top: 50px;
  margin: 0.5%;
  height: 385px;
  background-color: #1d1d23;
  color: black;
  z-index: 2;
  float: left;
  padding: 2%;
  color:#f9f4f4;
}


.subtopic{
  position: relative;
  top: 0;
  display: flex;
  height: 20px;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: bolder;
}


.subcontent{
  position: relative;
  top: 30px;
  height: 310px;
  font-size: 1.5rem;
}

.footer{
   max-width: 100%;
   height: 100px;
   margin-left: auto;
   margin-right: auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: #f9f4f4;

}

.social{
   display: flex;
   align-items: center;
   column-gap: 0.5rem;
   margin-left: 46%;
   margin-top: 80px;
	
}
.social .bx{
    background: #0483f3;
    padding: 2px;
    font-size: 2rem;
    border-radius: 40%;
    border: 4px solid #0483f3;
    color: #ccf3d3;
}
.social .bx:hover{
    background: ;
    color: #000;
    transition: 0.2s all linear;
}
.copyright{
    padding: 20px;
    text-align: center;
    color: #f9f4f4;
    background-color: #2c2b2b;
}